<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Lab2.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lab2Servlet</servlet-name>
        <servlet-class>Lab2.Lab2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lab3Servlet</servlet-name>
        <servlet-class>Laba3.Lab3Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lab5Servlet</servlet-name>
        <servlet-class>Laba5.Lab5Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lab2Servlet</servlet-name>
        <url-pattern>/Laba2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lab3Servlet</servlet-name>
        <url-pattern>/Laba3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lab5Servlet</servlet-name>
        <url-pattern>/Laba5</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
